<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="myCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Soluciones de ecuaciones</h1>
      </ion-header-bar>
      <ion-content ng-controller="myCtrl">
      <div class="list">
      <label class="item item-input">
      <span class = "input-label">A</span> 

      <input type="number" placeholder="teclea un valor para a" ng-model="a">
      </label>
      <label class="item item-input">

      <span class="input-label">B</span> 
      <input type="number" placeholder="teclea un valor para b" ng-model="b">
      </label>

      <label class="item item-input">
      <span class="input-label">C</span> 
      <input type="number" placeholder="teclea un valor para c" ng-model="c">
      </label>

      </div>
      <button class="button button-dark" ng-Click="Calcular()">
      Solucionar las ecuaciones
      </button>
      
      <h2>x1{{x1}}</h2>
      <h2>x2{{x2}}</h2>
        
      </ion-content>
    </ion-pane>
  </body>
</html>
